.clinic-section {
    padding: 50px 0;
    background-color: #fff;
    color: #333;
    font-family: 'Open Sans', sans-serif;
}

.container {
    max-width: 100%;
    margin-right: auto;
    margin-left: auto;
}

.clinic-block {
    margin-bottom: 40px;
}

.clinic-block h2 {
    font-family: 'El Messiri', sans-serif;
    font-size: 42px;
    font-weight: 700;
    line-height: 50.4px;
    text-align: center;
    margin-bottom: 30px;
}

.clinic-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.clinic-about {
    width: 746px; /* Фиксированная ширина блока слева */
    height: 420px; /* Фиксированная высота блока слева */
    gap: 24px; /* Отступ между блоком слева и картинкой справа */
    opacity: 1; /* Убедитесь, что блок видим */
}

.clinic-text {
    width: 100%; /* Занимает всю ширину блока слева */
    height: 100%; /* Занимает всю высоту блока слева */
    display: flex;
    flex-direction: column;
    gap: 12px; /* Отступ между элементами в блоке текста */
}

.clinic-text p {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 25.2px;
    text-align: left;
}

.clinic-text p span {
    font-weight: 700;
}

.clinic-text ul {
    margin-top: 15px;
    list-style: disc inside;
}

.clinic-buttons {
    margin-top: auto; /* Размещаем кнопки внизу блока */
}

.clinic-buttons button {
    background-color: #4598D4;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin-right: 10px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 14px;
}

.button-about button {
    background-color: #fff;
    color: #4598D4;
    width: 169px;
    height: 40px;
    padding: 12px 48px;
    gap: 10px;
    border-radius: 3px;
    border: 1px solid #4598D4;
    opacity: 1;
}

.clinic-image {
    width: 526px;
    height: 420px;
    gap: 0px;
    border-radius: 12px;
    opacity: 1;
}

.clinic-icons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
}

.clinic-icons .icon {
    text-align: center;
    width: 18%;
}

.clinic-icons .icon img {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
}

.clinic-icons .icon p {
    font-size: 15px;
    line-height: 1.4;
}
