
footer {
    box-sizing: border-box;

    color: #ffffff;
    position: relative;
}
.footer-pattern{
    position: relative;
    z-index: -10;
}
.footer-pattern img {
    width: 100%;
    display: block;
    margin-bottom: -1px; 
}
.container-footer {
    width: 100%; /* Задайте желаемую максимальную ширину */

        background-color: #4598D4;

}
.footer-section h6 {
    margin-bottom: 10px; 
}
.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; 
    padding: 0 10px;
}

.footer-section {
    flex: 1;
}

.footer-logo img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;

}


.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    //styleName: small;
font-family: Open Sans;
font-size: 14px;
font-weight: 400;
line-height: 16.8px;
text-align: left;

    margin-bottom: 5px;
}

.footer-bottom {
    font-size: 0.9em;
    margin-top: 85px;
}

.footer-bottom p {
    margin: 5px 0;
}
.footer-section p {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 16.8px;
    text-align: left;
}

.footer-section p img {
    width: 20px;
    height: 20px;
    margin-right: 15px; 
    vertical-align: middle; /* Выравнивание изображения по середине строки текста */

}
