.swiper {
  width: 1296px;
  height: 640px;
  gap: 16px;
  border-radius: 12px 0 0 0;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
