h1{
   //styleName: h1;
font-family: El Messiri;
font-size: 64px;
font-weight: 700;
line-height: 76.8px;
text-align: center;
 
}
h3{
font-family: El Messiri;
font-size: 42px;
font-weight: 700;
line-height: 50.4px;
text-align: center;
}
h4{
   //styleName: h4;
font-family: El Messiri;
font-size: 28px;
font-weight: 700;
line-height: 33.6px;
text-align: center;

}
h5{
   //styleName: h5;
font-family: El Messiri;
font-size: 24px;
font-weight: 700;
line-height: 28.8px;
text-align: center;

}

h6{
   //styleName: h6;
font-family: El Messiri;
font-size: 20px;
font-weight: 600;
line-height: 24px;
text-align: left;

}

