@charset "UTF-8";
/* Blocks */
/* Header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #fff;
  padding: 30px 72px 30px 72px;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.logo {
  width: 112px;
  height: 64px;
  margin-right: 82px;
}

.main-menu {
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  opacity: 1;
}

.main-menu .menu {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 25px;
}

.main-menu .menu li {
  margin: 0 10px;
  cursor: pointer;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.8px;
  text-align: left;
}

.header-button button {
  width: auto;
  height: 32px;
  padding: 8px 16px;
  border-radius: 3px;
  background-color: #4598D4;
  color: #fff;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  font-weight: 600;
  line-height: 15.6px;
  text-align: left;
  margin-right: 340px;
}

/* Slider-1 */
.swiper {
  width: 1296px;
  height: 640px;
  gap: 16px;
  border-radius: 12px 0 0 0;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* About */
.clinic-section {
  padding: 50px 0;
  background-color: #fff;
  color: #333;
  font-family: "Open Sans", sans-serif;
}

.container {
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;
}

.clinic-block h2 {
  font-family: "El Messiri", sans-serif;
  font-size: 42px;
  font-weight: 700;
  line-height: 50px;
  text-align: center;
  margin-bottom: 30px;
}

.clinic-content {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.clinic-about {
  width: 746px; /* Фиксированная ширина блока слева */
  height: 420px; /* Фиксированная высота блока слева */
  opacity: 1; /* Убедитесь, что блок видим */
}

.clinic-text {
  width: 100%; /* Занимает всю ширину блока слева */
  display: flex;
  flex-direction: column;
  gap: 12px; /* Отступ между элементами в блоке текста */
}

.clinic-text p {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 25.2px;
  text-align: left;
}

.clinic-text p span {
  font-weight: 700;
}

.clinic-buttons {
  display: flex;
  gap: 12px; /* Расстояние между кнопками */
  margin-top: 20px; /* Размещаем кнопки внизу блока */
}

.clinic-buttons button {
  background-color: #4598D4;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin-right: 10px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 14px;
}

.button-about button {
  background-color: #fff;
  color: #4598D4;
  width: 169px;
  height: 40px;
  padding: 12px 48px;
  gap: 10px;
  border-radius: 3px;
  border: 1px solid #4598D4;
  opacity: 1;
}

.clinic-image {
  width: 526px;
  height: 420px;
  gap: 0px;
  border-radius: 12px;
  opacity: 1;
}

.clinic-icons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 100px;
}

.clinic-icons .icon {
  text-align: center;
  width: 18%;
}

.clinic-icons .icon p {
  font-size: 15px;
  line-height: 1.4;
}

/* Footer */
footer {
  background-color: #4598D4;
  color: #ffffff;
  padding: 40px 0; /* Increased padding for more space */
  position: relative;
}

.footer-pattern img {
  width: 100%;
  display: block;
  margin-bottom: -5px; /* Adjust this value to remove any gap */
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start; /* Align items to the top */
  padding: 0 10px;
}

.footer-section {
  flex: 1;
  padding: 0 100px 0 30px;
}

.footer-logo img {
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.footer-section h3 {
  font-size: 1.2em;
  margin-bottom: 10px;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin-bottom: 5px;
}

.footer-bottom {
  font-size: 0.9em;
  margin-top: 85px;
}

.footer-bottom p {
  margin: 5px 0;
}